*   itertools
1. filterfalse()
2. product()
3. accumulate()

# Itertools
A collection of tools for handling iterators.

In [7]:
import itertools

### 1. filterfalse()
Make an iterator that filters elements from iterable returning only those for which the predicate is False

In [8]:
# income values for a set of people
income = [20000, 50000, 440000, 72000, 18000]

In [9]:
# using for loop
result = []
for i in income:
    if i >= 50000:
        result.append(i)

In [10]:
result

[50000, 440000, 72000]

In [11]:
# using itertools
results = itertools.filterfalse(lambda x: x < 50000, income)
list(results)

[50000, 440000, 72000]

### 2. product()
Make an itererator that returns all possible combination of elements

In [12]:
A = ['Jazz', 'Spurs', 'Warriors']
a_product = list(itertools.product(A, repeat=2))

In [13]:
a_product

[('Jazz', 'Jazz'),
 ('Jazz', 'Spurs'),
 ('Jazz', 'Warriors'),
 ('Spurs', 'Jazz'),
 ('Spurs', 'Spurs'),
 ('Spurs', 'Warriors'),
 ('Warriors', 'Jazz'),
 ('Warriors', 'Spurs'),
 ('Warriors', 'Warriors')]

In [14]:
A = ['Jazz', 'Spurs', 'Warriors']
B = ['Nets', 'Bucks']
ab_product = list(itertools.product(A, B))

In [15]:
ab_product

[('Jazz', 'Nets'),
 ('Jazz', 'Bucks'),
 ('Spurs', 'Nets'),
 ('Spurs', 'Bucks'),
 ('Warriors', 'Nets'),
 ('Warriors', 'Bucks')]

### 3. accumulate
Make an iterator that returns accumulated sums, or accumulated results of specified function

In [16]:
data = [5, 2, 6, 4, 5, 9, 1]

In [17]:
# using itertools
list(itertools.accumulate(data))

[5, 7, 13, 17, 22, 31, 32]

*   functools
1. reduce()
2. lru_cache()
3. partial()

# functools

In [18]:
import functools

### 1. reduce()
Applying a two argument function (from left to right) to the first two items of the iterable object.

In [19]:
amount = [1100, 2450, 1330, 900]

In [20]:
# syntax --> reduce(function, iterable)

functools.reduce(lambda a, b: a + b, amount)

5780

You can insert any function here.

In [21]:
def calculate_prod(x, y):
    return x * y

In [22]:
functools.reduce(calculate_prod, amount)

3225915000000

In [23]:
data = ["Python", "Advanced", "Programming"]

In [24]:
functools.reduce(lambda a, b: a + " " + b, data)

'Python Advanced Programming'

Note: reduce() stores the intermediate result and only returns the final summation value. Whereas, accumulate() returns a iterator containing the intermediate results.

### 2. lru_cache()
Memoizing callable and returns the stored value if the function is called with the same arguments again. It can save time when an expensive or I/O bound function is periodically called with the same arguments.

In [25]:
# function without lru_cache
def calc_uncached_factorial(n):
    if n <= 1:
        return 1
    return n * calc_uncached_factorial(n - 1)

In [26]:
# evaluate the performance of the uncached function
%timeit calc_uncached_factorial(10)

1.24 µs ± 34.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [27]:
# funtion with lru_cache
@functools.lru_cache(maxsize=None)
def calc_cached_factorial(n):
    if n <= 1:
        return 1
    return n * calc_cached_factorial(n - 1)

In [28]:
# evaluate the performance of the uncached function
%timeit calc_cached_factorial(10)

81 ns ± 4.93 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

NOTE: LRU cache should only be used when you want to reuse previously computed values.

### 3. partial()
Used for partial function application which “freezes” some portion of a function’s arguments

In [29]:
# initial function
def calc_total_saving(a, b, c, x):
    return a + b + c + x

In [30]:
# Partial function that a,b,c fixed
part_func = functools.partial(calc_total_saving, 30000, 250000, 400000)

In [32]:
part_func(100000)

780000

# collections
Implements specialized container datatypes providing alternatives to general purpose built-in containers, dict, list, set, and tuple.

In [33]:
import collections

### 1. defaultdict()
A dict subclass that provides default value for keys that do not exist.

In [34]:
# storing work ex in months
work_exp = {"Rachel": 31, "Ross": 42, "Joey": 12, "Monica": 28}

In [35]:
print(work_exp['Emma'])

KeyError: 'Emma'

In [36]:
# using default dict
work_exp_defualtdict = collections.defaultdict(int, Rachel= 31, Ross= 42, Joey= 12, Monica= 28)

print(work_exp_defualtdict['Emma'])

0

In [37]:
work_exp_defualtdict = collections.defaultdict(
    lambda: "Not present", Rachel=31, Ross=42, Joey=12, Monica=28
)
print(work_exp_defualtdict["Emma"])

Not present

### 2. Counter()
It is a collection where elements are stored as dictionary keys and their counts are stored as dictionary values.

In [38]:
av_text = "Analytics Vidhya is a platform to learn about Data Science, Machine Learning, Deep Learning, Data Visualisations, Business Intelligence, Big Data and more"
words = av_text.split()

In [39]:
collections.Counter(words)

Counter({'Analytics': 1,
         'Vidhya': 1,
         'is': 1,
         'a': 1,
         'platform': 1,
         'to': 1,
         'learn': 1,
         'about': 1,
         'Data': 3,
         'Science,': 1,
         'Machine': 1,
         'Learning,': 2,
         'Deep': 1,
         'Visualisations,': 1,
         'Business': 1,
         'Intelligence,': 1,
         'Big': 1,
         'and': 1,
         'more': 1})

In [40]:
collections.Counter(words).most_common(3)

[('Data', 3), ('Learning,', 2), ('Analytics', 1)]

### 3. deque()

In [41]:
word_queue = collections.deque(words)
word_queue

deque(['Analytics',
       'Vidhya',
       'is',
       'a',
       'platform',
       'to',
       'learn',
       'about',
       'Data',
       'Science,',
       'Machine',
       'Learning,',
       'Deep',
       'Learning,',
       'Data',
       'Visualisations,',
       'Business',
       'Intelligence,',
       'Big',
       'Data',
       'and',
       'more'])

In [42]:
word_queue.popleft()

'Analytics'

In [43]:
word_queue.pop()

'more'

In [44]:
word_queue

deque(['Vidhya',
       'is',
       'a',
       'platform',
       'to',
       'learn',
       'about',
       'Data',
       'Science,',
       'Machine',
       'Learning,',
       'Deep',
       'Learning,',
       'Data',
       'Visualisations,',
       'Business',
       'Intelligence,',
       'Big',
       'Data',
       'and'])

# pickle
The pickle module implements binary protocols for serializing and de-serializing a Python object structure.

In [45]:
import pickle

In [46]:
# our list and dictionary
emp_names = ["Akash", "Bhavish", "Chandra", "Derek"]
emp_ID = {"Akash": 1045, "Bhavish": 5306, "Chandra": 4931, "Derek": 5311}

Example 1

In [47]:
# pickling
my_file = open("datafile.pkl", "wb")
pickle.dump(emp_names, my_file)
my_file.close()

In [48]:
# unpickling
my_file = open("datafile.pkl", "rb")
emp = pickle.load(my_file) 
print(emp)

['Akash', 'Bhavish', 'Chandra', 'Derek']

Example 2

In [49]:
my_file_2 = open("emp_ID.pkl", "wb")   
pickle.dump(emp_ID, my_file_2)  
my_file_2.close()

In [50]:
my_file_2 = open("emp_ID.pkl", "rb")
EmpID = pickle.load(my_file_2)  
print(EmpID)

{'Akash': 1045, 'Bhavish': 5306, 'Chandra': 4931, 'Derek': 5311}